header {
    background-color: brown;
    text-align: center;
}

body {
    font-family: 'Shojumaru';
    color: white;
}
.side-bar {
    background-color: burlywood;

    height: 100%;
}

.main-conent {
    background-color: darkgrey;
    height: 100%;
}

#map {
    margin-top: 5px;
    background-color: cornsilk;

    height:250px;
    width: 250px;
}

.collapsible-header {
    color: red;
}