header {
    background-color: brown;
    text-align: center;
}

body {
    font-family: 'Shojumaru';
    color: white;
}
.side-bar {
    background-color: burlywood;

    height: 100%;
}

.main-conent {
    background-color: darkgrey;
    height: 500px;
    overflow-y:auto;
}

#map {
    height:250px;
    width: 270px;
}

.collapsible-header {
    color: red;
}