#map {
    height: 250px;
    width: 100%;
}

img {
    height:250px;
    width: 250px;
}

tr:hover {
    background-color: #F0BA18;

}
body {
        font-family: 'Shojumaru', serif;
        color: white;
      }
.fixed {

	position: fixed;
	top: 0;
}
